* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: silver;
  --bg-url: url(./Assets/assets/bg-mobile.jpg);
  --borda-botão: rgba(255, 255, 255, 0.5);
  --borda-botão-hover: white;
  --fundo-botão: rgba(255, 255, 255, 0.1);
  --fundo-botão-hover: rgba(255, 255, 255, 0.05);
  --social-links-bg-hover: rgba(255, 255, 255, 0.2);
  --imagem-botão-switch: url(Assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./Assets/assets/bg-mobile-light.jpg);
  --borda-botão: rgba(0, 0, 0, 0.5);
  --borda-botão-hover: black;
  --fundo-botão: rgba(0, 0, 0, 0.02);
  --fundo-botão-hover: rgba(0, 0, 0, 0.05);
  --social-links-bg-hover: rgba(0, 0, 0, 0.1);
  --imagem-botão-switch: url(Assets/sun.svg);
}

body {
  /* 
   background-image: url(./Assets/assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /* background: color, image, repeat, position, /size => ordem que aparece... checar.
  Essa é a maneira compacta de representar o código de base acima*/
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
/*profile*/
#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
/*switch - botão noite e dia*/

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--imagem-botão-switch) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  border: 1px solid var(--borda-botão);
  background: var(--fundo-botão);
  border-radius: 9999px;
  backdrop-filter: blur (4px);
  -webkit-backdrop-filter: blur(4px);
}

/* Links da lista li abaixo*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;
  background: var(--fundo-botão);
  border: 1px solid var(--borda-botão);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}
/*pseudo-selector - aplica "animações" quando passar o mouse por cima*/
ul li a:hover {
  border: 1.5px solid var(--borda-botão-hover);
  background: var(--fundo-botão-hover);
}

/*social-links -> estilização dos botoes de rede social*/
#social-links {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  font-size: 32px;
  justify-content: center;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--social-links-bg-hover);
}
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
